<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-makepower-blesdk" version="0.1.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MPBLE</name>
    <js-module name="MPBLE" src="www/MPBLE.js">
        <clobbers target="MPBLE" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MPBLE">
                <param name="android-package" value="cc.makepower.blesdk.MPBLE" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/MPBLE.java" target-dir="src/cc/makepower/blesdk" />
        <source-file src="src/android/libs/BaiduLBS_Android.jar" target-dir="libs"/>
        <source-file src="src/android/libs/blesdk04_whplgt.jar" target-dir="libs"/>
        <source-file src="src/android/libs/com.gxtt02.android.blesdk.jar" target-dir="libs"/>
        <source-file src="src/android/libs/fjtt03sdk.jar" target-dir="libs"/>
        <source-file src="src/android/libs/fjtt06.jar" target-dir="libs"/>
        <source-file src="src/android/libs/fjttsdk-ljxx-2.0.8.jar" target-dir="libs"/>
        <source-file src="src/android/libs/gxtt04test.jar" target-dir="libs"/>
        <source-file src="src/android/libs/hntt01_hc08.jar" target-dir="libs"/>
        <source-file src="src/android/libs/hntt01_yisuo.jar" target-dir="libs"/>
        <source-file src="src/android/libs/hntt01_zjtt.jar" target-dir="libs"/>
        <source-file src="src/android/libs/hntt03blesdk.jar" target-dir="libs"/>
        <source-file src="src/android/libs/hntt12_mdt.jar" target-dir="libs"/>
        <source-file src="src/android/libs/hnttsdkbase.jar" target-dir="libs"/>
        <source-file src="src/android/libs/sdkbase.jar" target-dir="libs"/>
        <source-file src="src/android/libs/zbardecoder.jar" target-dir="libs"/>
        <source-file src="src/android/libs/gzbx09.jar" target-dir="libs"/>
        <source-file src="src/android/libs/dgm01.jar" target-dir="libs"/>
        <source-file src="src/android/libs/jlst01.jar" target-dir="libs"/>
        <source-file src="src/android/libs/szlw06.jar" target-dir="libs"/>
        <source-file src="src/android/libs/cygc01.jar" target-dir="libs"/>
        <framework src="com.google.code.gson:gson:2.8.6" />
    </platform>
    <platform name="ios">
        <preference name="IOS_INIT_ON_LOAD" default="true" />
        <config-file target="config.xml" parent="/widget">
            <feature name="MPBLE">
                <param name="ios-package" value="MPBLE" onload="$IOS_INIT_ON_LOAD"/>
            </feature>
        </config-file>

        <header-file src="src/ios/MPBLE.h" target-dir="MPBLE" />
        <source-file src="src/ios/MPBLE.m" target-dir="MPBLE" />

        <header-file src="src/ios/MPDiscoverBlePeripheral.h" target-dir="MPDiscoverBlePeripheral" />
        <source-file src="src/ios/MPDiscoverBlePeripheral.m" target-dir="MPDiscoverBlePeripheral" />

        <!-- frameworks -->
        <framework src="YNTT14BleSDK.framework" />
        <framework src="HNTT01CLProtocol.framework" />
        <framework src="gxtt03blesdk.framework" />
        <!-- iOS Permissions -->
        <preference name="BLUETOOTH_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>$BLUETOOTH_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
            <string>$BLUETOOTH_USAGE_DESCRIPTION</string>
        </config-file>
    </platform>
</plugin>